/= form_for @poll do |f|
/  = f.text_field :title, class: 'title', placeholder: '输入标题'
/  = f.text_area :description, class: 'simditor-editor'
/
/  = f.submit

#poll_form.polls

coffee:
  poll = new App.Models.Poll
    title: '标题'
    description: '描述'
  window.poll_form = new App.Views.PollForm
    el: '#poll_form'
    model: poll
