.choices {
  margin-top: 1rem;
  @include outer-container;

  .actions {
    margin: 1rem 3rem;
  }
}

.choice {
  padding: 1rem 3rem;
  @include fill-parent();
  @include row(table);


  input {
    background: transparent;
    border-bottom: 1px solid $border-color;
    @include fill-parent();
  }

  .title {
    @include span-columns(9);
  }

  .limit {
    @include span-columns(2);
  }

  .title,
  .limit {
    @include omega;
    padding-right: .5rem;
  }

  .actions {
    @include span-columns(1);
    @include omega;
    text-align: right;

    i {
      padding: 0 .3rem;
      cursor: pointer;
      color: $border-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.choices.fill,
.choices.item-show {
  margin: 0;
}

.choice.fill {
  border-bottom: 1px solid #D8D8D8;
  padding: 1rem 3rem;


  .choice-button {
    display: inline-block;
    width: auto;
  }

  .title {
    display: inline-block;
    margin-left: .5rem;
    width: auto;
  }

  .limit {
    color: #D8D8D8;
    display: inline-block;
    font-size: 12px;
    height: 16px !important;
    line-height: 16px;
    width: auto;
  }

  &.invalid {
    color: #D8D8D8 !important;
  }
}

.choices.item-show {
  padding-bottom: 1.5rem;
}

.choice.item-show {
  display: block;
  height: 48px;
  margin-bottom: .5rem;
  padding: 0 1.5rem;

  div {
    display: inline-block;
  }

  .title {
    padding: 0 1rem;
    width: auto;
  }

  .usersLength {
    background-color: #454754;
    color: white;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 48px;
  }

  .user-avatar {
    height: 48px;
    margin-right: .5rem;
    width: 48px;
    vertical-align: middle;
  }
}
