.choices {
  margin-top: 1rem;
  @include outer-container;

  .actions {
    margin: 1rem 3rem;
  }
}

.choice {
  padding: 1rem 3rem;
  @include fill-parent();
  @include row(table);


  input {
    background: transparent;
    border-bottom: 1px solid $border-color;
    @include fill-parent();
  }

  .title {
    @include span-columns(9);
  }

  .limit {
    @include span-columns(2);
  }

  .title,
  .limit {
    @include omega;
    padding-right: .5rem;
  }

  .actions {
    @include span-columns(1);
    @include omega;
    text-align: right;

    i {
      padding: 0 .3rem;
      cursor: pointer;
      color: $border-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.choices.fill {
  margin: 0;
}

.choice.fill {
  border-bottom: 1px solid #D8D8D8;
  padding: 1rem 2rem;


  .choice-button {
    display: inline-block;
    width: auto;
  }

  .title {
    display: inline-block;
    margin-left: .5rem;
    width: auto;
  }

  .limit {
    color: #D8D8D8;
    display: inline-block;
    font-size: 12px;
    height: 16px !important;
    line-height: 16px;
    width: auto;
  }
}
