input {
  outline: none;
  border: 0;

  @include placeholder {
    color: $border-color;
  }
}

.card.actions {
  @include background-border();
  @include padding(.8em 2em);
}

.card.actions.fill {
  background-color: #F5F5F5;
  border-bottom: 1px solid #D8D8D8;
  margin-top: 0;

  .poll-status {
    color: #D8D8D8;
    margin-left: 1rem;
  }

  .warning {
    color: #E03030;
  }

}

.error {
  border-color: hsla(46, 23%, 47%, .9) !important;
  @include placeholder {
    color: transparentize($error-color, .5);
  }
}

#recover-poll {
  color: black;
  text-decoration: none;
}
