input {
  outline: none;
  border: 0;

  @include placeholder {
    color: $border-color;
  }
}

#{$all-text-inputs} {
  border: 0;
}

.card.actions {
  @include background-border();
  @include padding(.8em 2em);
}

.card.actions.fill {
  background-color: #F5F5F5;
  border-bottom: 1px solid #D8D8D8;
  margin-top: 0;

  .poll-status {
    color: #D8D8D8;
    margin-left: 1rem;
  }
}

.btn {
  @include border-color($primary-color);
  @include padding(6px 10px);

  appearance: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  cursor: pointer;
  text-align: center;
  @include border-width(1px 1px 1px 1px);
  @include border-style(solid);
  @include border-color(transparent);

  &.btn-outline {
    background: transparent;
    @include border-color($accessory-color);
    color: $accessory-color;

    &:hover {
      color: #ffffff;
      background: $accessory-color;
    }
  }

  &.btn-success {
    color: #ffffff;
    @include border-color(hsla(46, 23%, 47%, .9));
    background: hsla(46, 23%, 47%, .9);

    &:hover {
      @include border-color($accessory-color);
      background: $accessory-color;
    }
  }

  &.btn-primary {
    color: #ffffff;
    background: hsla(231, 10%, 26%, .9);

    &:hover {
      background: $primary-color;
    }
  }

  &.submitBtn {
    color: black;
    width: auto !important;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.error {
  border-color: hsla(46, 23%, 47%, .9) !important;
  @include placeholder {
    color: transparentize($error-color, .5);
  }
}

#recover-poll {
  color: black;
  text-decoration: none;
}
