input {
  outline: none;
  border: 0;

  @include placeholder {
    color: $border-color;
  }
}

#{$all-text-inputs} {
  border: 0;
}

.error-msg {
  @include background-border();

  display: none;
  margin: 1em 0;

  .error-head {
    @include padding(1em 2em);
    font-size: 22px;
  }

  .errors {
    background-color: white;
  }

  .fa {
    color: $error-color;
    float: right;
    font-size: 25px !important;
  }
  li {
    @include padding(1em 2em);
  }
}

.btn {
  @include border-color($primary-color);
  @include padding(6px 10px);

  appearance: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  cursor: pointer;
  text-align: center;
  @include border-width(1px 1px 1px 1px);
  @include border-style(solid);
  @include border-color(transparent);

  &.btn-outline {
    background: transparent;
    @include border-color($accessory-color);
    color: $accessory-color;

    &:hover {
      color: #ffffff;
      background: $accessory-color;
    }
  }

  &.btn-success {
    color: #ffffff;
    @include border-color(hsla(46, 23%, 47%, .9));
    background: hsla(46, 23%, 47%, .9);

    &:hover {
      @include border-color($accessory-color);
      background: $accessory-color;
    }
  }

  &.btn-primary {
    color: #ffffff;
    background: hsla(231, 10%, 26%, .9);

    &:hover {
      background: $primary-color;
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
