.polls {
  &>.actions {
    margin-top: 2rem;
    text-align: center;
    @include fill-parent();
    @include row(table);

    .poll-status {
      float: left;
      padding: .8rem 0;
      text-align: left;
      @include span-columns(3);

      .fa-frown-o {
        color: $error-color;
      }
    }

    .btn {
      float: right;
      padding: .8rem 0;
      @include span-columns(3);
    }
  }
}

.poll {
  @include background-border();

  & > .cover {
    width: 100%;
  }

  & > .title {
    width: 100%;
    padding: 1rem .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}
