.polls {
  &>.actions {
    margin-top: 2rem;
    padding: 1rem 2rem;
    text-align: right;
  }
}

.poll {
  @include background-border();

  & > .cover {
    width: 100%;
  }

  & > .title {
    width: 100%;
    padding: 1rem .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}
