.questions {
  margin-top: 2rem;
  @include outer-container;

  .add-question-btn {
    margin-top: 2rem;
    padding: .8rem 0;
    @include fill-parent();
    display: inline-block;
    color: hsla(232, 10%, 30%, .3);
    background: $border-color;

    &:hover {
      color: hsla(232, 10%, 30%, .7);
      background: #CDCDCD;
    }
  }
}

.question {
  margin-top: 2rem;
  background: #ffffff;
  @include background-border();

  & > .title {
    background: #F5F5F5;
    padding: 1rem 2rem;
    @include fill-parent();
    @include row(table);


    .input {
      padding: .5rem 0;
      font-size: 1.2rem;
      font-weight: bold;
      background: transparent;
      @include span-columns(10);
    }

    .actions {
      text-align: right;
      @include span-columns(2);

      i {
        padding: 0 .3rem;
        cursor: pointer;
        color: $border-color;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  & > .multiple {
    padding: 1rem 2rem;
    border-bottom: 1px solid #F5F5F5;

    .multiple-item {
      display: inline-block;
      margin-right: 2rem;
    }
  }

  & > .title.fill {
    font-size: 24px;
    font-weight: bold;
  }
}

.question.fill {
  border-bottom: 1px solid #D8D8D8;
  margin-top: 0;

  &:first-child {
    margin-top: 2rem;
  }

  &:last-child {
    border-bottom: 0px;
  }
}

.question.item-show {
  & > .title {
    background: white;
    font-size: 26px;
    text-align: center;
  }
}
